<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    EIEIEI

    <button id="btn">Click me</button>

    <span id="Testing"></span>

    <script>
      const socket = io();
      console.log(socket);


      const btn = document.getElementById('btn');

      btn.addEventListener('click', () => {
        socket.emit('test', 'Hello World');
      });

    </script>
</body>
</html>