<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="/socket.io/socket.io.js"></script>
</head>

<body>

  <button id="btn">Click me</button>
  <button id="logoutBtn">Log out</button>

  <span id="Testing"></span>

  <script>
    const token = document.cookie.split(';').find(cookie => cookie.trim().startsWith('token=')).split('=')[1];
    const socket = io('http://localhost:3000', {
      auth: {
        token: token
      }
    });



    const btn = document.getElementById('btn');

    btn.addEventListener('click', () => {
      socket.emit('test', 'Hello World');
    });

    const logoutBtn = document.getElementById('logoutBtn');

    logoutBtn.addEventListener('click', async (e) => {
      e.preventDefault(); // prevent the page from reloading

      const resp = await fetch('/user/logout', {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json'
        },

      })

      if (!resp.ok) {
        window.location.reload();
      } else {
        const data = await resp.json();

        window.location.href = '/';
      }
      socket.emit('logout');
    });



  </script>
</body>

</html>